/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
}
ul, ol, dl{
  list-style: none;
}

/* header */
body{
  background: radial-gradient(ellipse at center, #e87625 0%,#ecbc96 100%);
  min-height: 100vh;
}

.wrap{
  background-color: #fff;
  border-radius: 7px;
  width: 700px;
  margin: 40px auto 0;
  overflow: hidden;
}

/* header */
.wrap header{
  background: url("../images/background.jpg") no-repeat top center /cover;
  padding: 120px 0;
  text-align: center;
  color: #ffffff;
  display: flex;
  justify-content: space-around;
}
.wrap header img{
  width: 120px;
  height: 120px;
  border-radius: 50% / 10%;
  border: 7px solid;
  margin-bottom: 15px;
}
.wrap header h1{
  font-size: 8rem;
  letter-spacing: 0.5rem;
  margin-bottom: 20px;
}
.wrap header p{
  display: inline-block;
  font-size: 1.6rem;
  border-top: 3px solid;
  padding: 3px 10px 0;
  letter-spacing: 0.4rem;
}
/* contents */

.wrap .contents{
  padding: 20px;
}
.wrap .contents .card{
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 10px;
}
.wrap .contents .card h2{
  margin-bottom: 15px;
  font-size: 2rem;
  color: #0E5CD3;
}
.wrap .contents .card ul li::before{
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("../images/icon-off.png");
}
.wrap .contents .card ul li{
  font-size: 1.6rem;
  display: flex;
}
.wrap .contents .card:last-of-type{
  margin-bottom: 0;
}
/* footer */
footer{
  background-color: #e2e2e2;
  color: #7d7d7d;
  text-align: center;
  padding: 5px;
  letter-spacing: 0.3rem;
}