/* web font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 10px;
  font-family: "Open Sans", sans-serif;
}
ul, ol, dl{
  list-style: none;
}

/* setting */
body{
  background: url("../images/decobg.gif"), radial-gradient(ellipse at center, #ff6a00 0%,#ecbc96 100%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.wrap{
  background-color: #e2e2e2;
  border-radius: 7px;
  width: 700px;
  margin: 40px auto 0;
  overflow: hidden;
  box-shadow: 3px 3px 30px #777;
  position: relative;
  z-index: 9999;
}

/* header */
.wrap header{
  background: url("../images/background.jpg") no-repeat top center /cover;
  padding: 120px 0;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-around;
}
.wrap header img{
  width: 120px;
  height: 120px;
  border-radius: 73% 27% 73% 27% / 35% 67% 35% 67%  ;
  border: 7px solid;
  margin-bottom: 15px;
  animation: floatimg 4s infinite linear;
}
.wrap header div{
  animation: float 2s infinite linear;
}
.wrap header div h1{
  font-size: 8rem;
  letter-spacing: 0.5rem;
  margin-bottom: 20px;
}
.wrap header div p{
  display: inline-block;
  font-size: 1.6rem;
  border-top: 3px solid;
  padding: 3px 10px 0;
  letter-spacing: 0.4rem;
}

/* contents */
.wrap .contents{
  padding: 25px;
}
.wrap .contents .card{
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 15%;
  color: #777;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  transition: all ease .3s;
}
.wrap .contents .card:hover{
  transform: scale(1.01);
}
.wrap .contents .card.info{
  background-image: url("../images/sec1bg.png");
}
.wrap .contents .card.skill{
  background-image: url("../images/sec2bg.png");
}
.wrap .contents .card.info:hover{
  background-image: url("../images/sec1bg-on.png");
}
.wrap .contents .card.skill:hover{
  background-image: url("../images/sec2bg-on.png");
}
.wrap .contents .card h2{
  margin-bottom: 15px;
  font-size: 2rem;
  color: #0E5CD3;
}
.wrap .contents .card ul li::before{
  display: block;
  content: "";
  width: 24px;
  height: 24px;
  background-image: url("/images/icon-off.png");
  background-size: contain;
  margin-right: 7px;
  transition: all ease .3s;
}
.wrap .contents .card ul li{
  font-size: 1.6rem;
  display: flex;
  margin: 7px 0;
  transition: all ease .3s;
}
.wrap .contents .card ul li:hover::before{
  background-image: url("../images/icon-on.png");
}
.wrap .contents .card ul li:hover{
  color: #000;
  font-weight: bold;
}
.wrap .contents .card:last-of-type{
  margin-bottom: 0;
}

/* footer */
footer{
  background-color: #f2f2f2;
  color: #7d7d7d;
  text-align: center;
  padding: 5px;
  letter-spacing: 0.3rem;
}

/* another elements */
.other-elements{
  position: absolute;
  width: 100%;
  height: 100%;
}
.other-elements marquee{
  padding-top: 15px;
  font-size: 3rem;
  font-weight: 800;
  color: #954b16;
}
.other-elements img{
  width: 120px;
  position: absolute;
}
.other-elements .board1{
  animation: boarding 2.5s infinite linear alternate;
}
.other-elements .board2{
  animation: boarding2 3s infinite linear alternate;
}
/* animation definition */

@keyframes floatimg {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
    transform: translatey(0px);
  }
}


@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}

@keyframes boarding {
  0% {
    left: 300px;
    top: 70px;
  }
  25%{
    left: 50px;
    top: 200px;
  }
  50% {
    left: 300px;
    top: 350px;
  }
  75%{
    left: 50px;
    top: 500px;
  }
  100% {
    left: 300px;
    top: 650px;
  }
}
@keyframes boarding2 {
  0% {
    right: 300px;
    top: 70px;
  }
  25%{
    right: 30px;
    top: 200px;
  }
  50% {
    right: 300px;
    top: 350px;
  }
  75%{
    right: 30px;
    top: 500px;
  }
  100% {
    right: 300px;
    top: 650px;
  }
}
